body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.header {
    font-size: 32px;
}





.board {
    width: 800px;
    height: 800px;
    border: 3px solid #a8dadc;
    display: flex;
    flex-direction: column;
}

.rows {
    flex: 1; /* shrink as number of grids(row) increases */
    display: flex;
}

.grid {
    flex: 1;
    border: 1px solid #457b9d;
    border-radius: 1px;
}

.grid.colored {
    background-color: black;
}