body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.header {
    font-size: 32px;
}

.features{
    display: flex;
    flex: 1;
    gap: 20px;
    padding-right: 150px;
}

.user {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    gap: 5px;
}

.user .title {
    font-size: 20px;
    margin-bottom: 3px;
}

.user button {
    padding: 4px 8px;
    margin-right: 4px;
}

.user .sizes .text,
.user .color_mode .text {
    margin-bottom: 3px;
}

.board {
    width: 800px;
    height: 800px;
    border: 3px solid #a8dadc;
    display: flex;
    flex-direction: column;
}

.rows {
    flex: 1; /* shrink as number of grids(row) increases */
    display: flex;
}

.grid {
    flex: 1;
    border: 1px solid #457b9d;
    border-radius: 1px;
}

.grid.colored {
    background-color: black;
}